main {
  width: 800px;
}

div.title {
  background-color: #00aabb;
  text-align: center;
  width: inherit;
}

h1.title {
  font-style: italic;
  font-family: sans-serif;
}

div.statusbar {
  background-color: #00aabb;
  width: inherit;
  height: 1.4em;
}

p.statusmessage {
  font-variant: small-caps;
  font-family: sans-serif;
  text-align: right;
  margin-bottom: 0.2em;
  margin-top: 0.2em;
}
